.project-in-text {
    font-size: 64px;
    font-weight: bold;
    color: white;
    line-height: 75px;
}

.blue-mind {
    color: rgb(0, 187, 187);
}

.project-in-mind {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.illustration-3 {
    height: 350px;
}

.vector-5 {
    width: 170px;
    position: absolute;
    left: -80%;
    bottom: 40%;
}

.last-page-image {
    position: relative;
}

.contact-section .container {
    display: flex;
    gap: 150px;
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

label {
    color: white;
    font-weight: 600;
    font-size: 18px;
}

input {
    border: unset;
    background-color:rgba(57, 62, 70, 0.5);
    font-size: 18px;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 10px;
    caret-color: white;
    color: white;
    
}

input::placeholder, textarea::placeholder {
    color: rgba(135, 143, 155, 0.952);
    font-family: 'poppins', 'arial';
}

textarea {
    border: unset;
    background-color: rgba(57, 62, 70, 0.5);
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    width: 100%;
    caret-color: white;
    color: white;
    font-family: 'poppins', 'arial';
    box-sizing: border-box;
    padding: 16px 24px;
}

.input-box {
    display: flex;
    flex-direction: column ;
    gap: 8px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 0 2px  rgba(0, 255, 255, 0.733);
    outline: none;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.message-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.message-icon {
height: 20px;
filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.5));

}

.send-message {
background-color: rgba(0, 255, 255, 0.733);
color: white;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
font-weight: 600;
gap: 5px;
padding: 10px 32px;
border: unset;
border-radius: 25px;
text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
margin-top: 20px;
}

.message-span {
    height: 15px;
}

.mail-vector {
    position: absolute;
    height: 50px;
    bottom: -50px;
    right: 0;
}
