html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(34, 40, 49, 1);
    font-family: 'poppins', 'Arial';
    position: relative;
    z-index: 2;
    margin: unset;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    align-items: center;
    height: 130px;
    position: relative;
}

p{
    margin: unset;
}

.name {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.right-section {
    display: flex;
    max-width: 500px;
    min-width: 350px;
    justify-content: space-between;
}

.right-section a {
    font-family: 'poppins', 'arial';
    color: white;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}

.home,
.about-me,
.contact {
    margin: unset;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.home-section .container {
    display: flex;
    justify-content: space-between;
    gap: 40%;
    margin-top: 200px;
    position: relative;
    z-index: 2;
    gap: 50px;
}

.text {
    position: relative;
}

.bold-text {
    font-family: 'poppins', 'arial';
    font-weight: bolder;
    color: white;
    font-size: 96px;
    line-height: 90px;
}

.designer {
    color: rgb(0, 187, 187);
}

.buttons {
    display: flex;
    gap: 24px;
}

.hire-me,
.download {
    padding: 10px 32px;
    font-weight: bold;
    color: rgba(238, 238, 238, 1);
    border: unset;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.hire-me {
    background-color: rgba(0, 173, 181, 1);
    border-radius: 25px;

}

.download {
    background-color: #40474d;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

}

.download-logo {
    height: 24px;
    filter: invert(100%);
}

.text-bold-class {
    margin-bottom: 50px;
}

.image-home {
    height: 450px;
}

.doodle-round-designer {
    height: 500px;
    z-index: 2;
}

.designer-image {
    position: absolute;
    bottom: -120px;
    left: -30px;
}

.image {
    position: relative;
}


.arrow-vector-down {
height: 220px;
position: absolute;
top: 50px;
left: -90px;
}

.lines {
    border: 0.5px solid rgb(66, 66, 66);
    position: absolute;
    top: 130px;
    right: 0;
    left: 0;
    margin: unset;
}

.line-2 {
    border: 0.5px solid rgb(66, 66, 66);
    position: absolute;
    bottom: 200px;
    right: 0;
    left: 0;
}
.lines-vertical {
    height: 100%;
    width: 2px;
    background-color: rgb(66, 66, 66);
    position: absolute;
    top: 0;
    left: 39%;
    z-index: -1;
}

.frame-7 {
    width: 90px;
    position: absolute;
    top: 850px;
    transform: translateX(-50%);
}





